.main{
	width: 800px;
	margin: auto;
}

.gallery{
	display: flex;
	flex-direction: column;
	width: 100%;
}

.gallery__row{
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	vertical-align: middle;
	width: 100%;
	margin-bottom: 20px;
}

.gallery__item{
	width: 49%;
	border-radius: 8px;
	height: 600px;
	overflow: hidden;
}

.gallery__item img{
	object-fit: cover;
	width: 100%;
	height: 100%;
}